.main{
    display: flex;
    flex-direction: column;
    position: relative;
    .header{
        display: flex;
        justify-content: space-around;
        position:fixed;
        padding:12px;
        width:100%; 
        p{
            font-size:12px;
        }
    }
    .columns{
        padding-top:100px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:20px;
        align-self: center;
    }
}

@media screen and (max-width:1000px) {
    .main{
        .header{
            justify-content: space-evenly;
            padding:12px;
        }
        .columns{
            align-self:flex-start;
            grid-template-columns: repeat(3, minmax(300px, 1fr));
            width: max-content;
            margin:0 6px
        }
    }
}