.main{
    display: flex;
    flex-direction: column;
    

    >.header{
        display: flex;
        justify-content: space-evenly;
        position:fixed;
        padding:12px;
        width:100vw; 
        p{
            font-size:12px;
        }
    }
    .columns{
        padding-top:100px;
        display: grid;
        height:100vh;
        overscroll-behavior-x: contain;
        grid-template-columns: 1fr 1fr 1fr;
        gap:20px;
        align-self: center;
    }
}

@media screen and (max-width:1000px) {
    .main{
        .header{
            justify-content: space-evenly;
            padding:12px;
            background-color: white;
        }
        .columns{
            display:flex;
            flex-direction:row;
            overflow-x:auto;
            scroll-snap-type: x inherit;
            gap:10px;
            height:100vh;
            width:100vw;
            -webkit-overflow-scrolling: touch;
            &::-webkit-scrollbar{
                display: none;
                scroll-behavior: smooth;
            }
            *{
                scroll-snap-align:start;
                flex:0 0 auto;
            }
        }
    }
}