.column{
    background-color: white;
    height: calc(100vh - 100px); 
    padding: 12px 6px;
    width: 333.33px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    box-sizing: border-box;

    .title{
        font-size:20px;
        color:rgba(32,32,32);
        font-weight:lighter;
        text-align:center;
    }

}